#div_digg {
    position:fixed;
    bottom:5px;
    width:140px;
    right:740px;
    height:50px;
    border:2px solid #6FA833;
    padding:10px;
    background-color:#fff;
    border-radius:5px 5px 5px 5px !important;
    box-shadow:0 0 0 1px #5F5A4B, 1px 1px 6px 1px rgba(10, 10, 0, 0.5);
}

/*固定式按钮，只有推荐按钮*/
.diggit{
    width: 125px;
    height: 50px;
    background: url('//pic002.cnblogs.com/images/2011/70278/2011050520390113.gif') no-repeat;
    cursor: pointer;
    margin-top: 0px;
     padding-top: 9px;
     padding-left: 38px;
}
.diggnum{
    font-family:Georgia, Serif;
 }
.buryit {
    display:none;
 }
span#digg_count{
    font-size: 20px;
    color:green;
 }